/* Стили для блока с обратной связью*/
.feedback {
    margin-bottom: 100px;

    .feedback__text {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-right: 37px;
        text-align: right;

        @media screen and (max-width:$xl) {
            text-align: center;
            margin-right: 0;
            margin-bottom: 40px;
            display: block;
        }

        h2 {
            margin-bottom: 0;

        }

        p {
            font-size: 24px;
            margin-right: 8px;

            @media screen and (max-width: $xl) {
                text-align: center;
                margin: 0;
            }
        }
    }
}


.form {
    background: white;
    box-shadow: var(--box-shadow);
    padding: 24px;
    border-radius: 15px;

    label {
        display: block;

    }

    textarea,input {
        display: block;
        padding: 8px 12px;
        border: 1px solid #09e2eb;
        border-radius: 10px;
        min-height: 40px;
        overflow: hidden;
        outline: none;
        width: 100%;

        &::placeholder {
            color: #8a99a8;
        }
    }

    .form__group {
        display: flex;
        gap: 16px;
        margin-bottom: 16px;

        @media screen and (max-width:$sm) {
            flex-direction: column;
        }
    }
}



.button-primary {
    padding: 9px 60px;
    border-radius: 10px;
    border: none;
    background: linear-gradient(90deg, #FB8501 -0.07%, #FFB703 100%);
    transition: box-shadow 300ms, transform 100ms;

    @media screen and (max-width:$sm) {
        width: 100%;
    }

    &:focus {
        transform: scale(0.95);
    }

    &:hover {
        box-shadow: 0 0 10px 0 #ffb003;
    }

}


/* Конец Стили для блока с обратной связью*/