/*Стили для блока с технологиями*/

.tech {
    margin-bottom: 100px;

    .row {
        row-gap: 24px;

        @media screen and (max-width:$sm) {
            row-gap: 10px;
        }

        .col-6 {
            @media screen and (max-width:$sm) {
                padding: 0 5px;
            }
        }
    }


    .tech__card {
        display: flex;
        gap: 24px;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        height: 100%;
        text-align: center;
        padding: 55px 24px 24px;
        border-radius: 15px;
        background: #fff;
        box-shadow: var(--box-shadow);

        @media screen and (max-width:$lg) {
            padding-top: 44px;
        }


        .tech__card-img-wrap {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .tech__card-name {
            font-size: 18px;
            color: #8a99a8;

        }

    }

}


/*Конец Стили для блока технологиями*/